body {
    font-family: Arial, sans-serif;
    background: #1f4c75;
    color: white;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.game-box {
    background: white;
    color: #1f4c75;
    width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

button {
    background: #e48e41;
    border: none;
    color: white;
    padding: 10px 18px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

button:hover {
    background: #fc9c60;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #1f4c75;
}
